driftfile /var/lib/ntp/drift
restrict default nomodify notrap nopeer noquery
restrict 127.0.0.1 
restrict ::1

server {{ ntpserver }} iburst

includefile /etc/ntp/crypto/pw

keys /etc/ntp/keys
disable monitor
